In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.CodeMirror {font-family: Consolas; font-size: 10pt;}
</style>
"""))

C:\Users\hk02-7\AppData\Local\Temp\ipykernel_1876\3476330621.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
user = input("입력:")
print(user * 2)

입력:3
33

In [3]:
user = input("숫자를 입력하세요: ")
print(10 + int(user))

숫자를 입력하세요: 2
12

In [6]:
user = input("")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

1
홀수

In [11]:
user = input("값을 입력하세요 : ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

값을 입력하세요 : 240
255

In [15]:
user = input("값을 입력하세요 : ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

값을 입력하세요 : 300
255

In [18]:
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?사과
정답입니다.

In [19]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명: Google
투자 경고 종목입니다.

In [20]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은: 여름
정답입니다.

In [21]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?봄
오답입니다.

In [24]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

ASDFsds
asdfsds

In [25]:
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 50
grade is C

In [31]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [34]:
num1 = int(input("input number1: "))
num2 = int(input("input number2: "))
num3 = int(input("input number3: "))

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 20
input number2: 59
input number3: 39
59

In [35]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력: 01025107422
당신은 알수없음 사용자입니다.

In [36]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 21099
노원구

In [38]:
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 1412515-15152151
남자

In [39]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 1412515-15152151
서울이 아닙니다.

In [42]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 141251-1515215
유효하지 않은 주민등록번호입니다.

In [45]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [46]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [50]:
for 변수 in ["A", "B", "C"]:
    print(변수)

변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C
A
B
C

In [49]:
for 변수 in ["A", "B", "C"]:
    print("출력:", 변수)

변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [52]:
for 변수 in ["A", "B", "C"]:
    b = 변수.lower

변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [58]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

리스트 = [10, 20, 30]
for 변수 in 리스트:
    print(변수)

10
20
30
10
20
30

In [55]:
print(10)
print(20)
print(30)

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30
10
20
30

In [56]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for 변수 in [10, 20, 30]:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [57]:
print("++++")
print(10)
print(20)
print(30)

print("++++")
for 변수 in [10, 20, 30]:
    print(변수)

++++
10
20
30
++++
10
20
30

In [60]:
print("-------")
print("-------")
print("-------")
print("-------")

for 변수 in [1, 2, 3, 4]:
    print("-------")

-------
-------
-------
-------
-------
-------
-------
-------

In [61]:
리스트 = [100, 200, 300]
for 변수 in 리스트:
    print(변수 + 10)

110
210
310

In [62]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
    print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [63]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
    print(len(종목명))

6
4
4

In [64]:
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물, len(동물))

dog 3
cat 3
parrot 6

In [65]:
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물[0])

d
c
p

In [66]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
    print("3 x",변수)

3 x 1
3 x 2
3 x 3

In [67]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
    print("3 x",변수, "=", 3 * 변수)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [69]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
    print(변수)

나
다
라

In [70]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
    print(변수)

가
다

In [71]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
    print(변수)

라
다
나
가

In [73]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [74]:
for x in range(2002, 2051, 4) :
    print (x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [75]:
for num in range(3, 31, 3):
    print (num)

3
6
9
12
15
18
21
24
27
30

In [76]:
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [77]:
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [78]:
for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [79]:
num = 3
for i in range(1, 10, 2) :
    print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [81]:
hab = 0
for i in range(1, 11):
    hab += i
print ("합 :", hab)

합 : 55

In [82]:
hab = 0
for i in range(1, 11, 2):
    hab += i
print ("합 :", hab)

합 : 25

In [83]:
result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

In [85]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [86]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [87]:
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [88]:
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [8]:
my_list = ["가", "나", "다", "라"]
print(my_list[0], my_list[1])
print(my_list[1], my_list[2])
print(my_list[2], my_list[3])

for i in [0, 1, 2]:
    print(my_list[i])
for i in [0, 1, 2]:
    print(my_list[i],my_list[i+1])
    
for i in range(len(my_list) - 1) :
    print(my_list[i], my_list[i+1])
for i in range(1, len(my_list)):
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라
가
나
다
가 나
나 다
다 라
가 나
나 다
다 라
가 나
나 다
다 라

In [14]:
my_list = ["가", "나", "다", "라", "마"]
print(my_list[0], my_list[1], my_list[2])
print(my_list[1], my_list[2], my_list[3])
print(my_list[2], my_list[3], my_list[4])

for i in [0, 1, 2] :
    print(my_list[i], my_list[i+1], my_list[i+2])
    
for i in range(len(my_list)-2):
    print(i)

가 나 다
나 다 라
다 라 마
가 나 다
나 다 라
다 라 마
0
1
2