In [27]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 10pt;}
div.output { font-size: 10pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 10pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\hk02-7\AppData\Local\Temp\ipykernel_16940\67149034.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [31]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [32]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [36]:
s = "hello"
t = "python"
print(s+"!",t)

hello! python

In [37]:
print(2 + 2* 3)

8

In [39]:
a = 128
print(type(a))

a = "132"
print(type(a))

<class 'int'>
<class 'str'>

In [40]:
num_str = "720" #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [41]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [43]:
data ="15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>