In [4]:
print(10) # 정수
print(1-.54) # 실수
print("10") # 문자열
print("10.4") # 문자열
#print(10+ "10") # TypeError: unsupported operand type(s) for +: 'int' and 'str'
print("10" + "10")
print("python" + "is" + "fun")
print("python" + " " + "is"+ " " + "fun")
print('python '+ 'is'+ ' fun')
# 문자열에서는 +연산자는 붙이기 연산자이다.
print('python \n' + 'is'+ ' fun')

10
0.45999999999999996
10
10.4
1010
pythonisfun
python is fun
python is fun
python
is fun

In [7]:
# "" , '', """""", ''''''
a = '''python
is 
fun'''
print(a)
a = """python
is
fun"""
print(a)
print("Life is too short, You need python")
print("""Life is too short, 
You need python""")
print('''Life is too short, 
You need python''') # 행바꿈을 할 때 주로 사용

python
is
fun
python
is
fun
Life is too short, You need python
Life is too short,
You need python
Life is too short,
You need python

In [11]:
print("Life's too short, You need python")
print('Life is too short, "You need python"')
print("Life is too short, \"You need python\"")
print('Life\'s too short, You need python')
print('\tLife\'s too short, You need python') # \ : 제외시키기 위한 문자 (이스케이프문자)

Life's too short, You need python
Life is too short, "You need python"
Life is too short, "You need python"
Life's too short, You need python
	Life's too short, You need python

In [12]:
print('\tLife\'s too short\n, You need python')

	Life's too short
, You need python

In [24]:
a = 10
print(a)
a = 10.4
print(a)
a = "유현수"
print(a)

10
10.4
유현수

In [15]:
head = "python"
tail = "is fun"
print(head + tail)
print(head+" " + tail)
print("==" * 30) # *연산자 : 문자열 반복
print("제목")
print("==" * 30)
print(head * 30)

pythonis fun
python is fun
============================================================
제목
============================================================
pythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpython

In [40]:
print(str(10) + "20")
# print(str(10) + "20")
# 같은 이름의 함수와 변수를 툴 수 없다. str(), str
del str
print(str(10) + "20")
a = 10

TypeError: 'str' object is not callable

In [34]:
# indexing : index를 이용해서 원하는 문자를 가지고 오는 것
# index는 문자열에서 문자가 가지고 있는 고유의 번호
str1 = "Life is too short, You need python"
#       01234567890123456
#                 1
print(str1)
print(len(str1))
print(str1[0])
print(str1[5])
print(str1[16])
print(str1[len(str1) - 1])

Life is too short, You need python
34
L
i
t
n

In [38]:
str1 = "Life is too short"
#      01234567890123456
#                1
#      76543210987654321 -
#             1
print(str1[0])
print(str1[-17])
print(str1[-len(str1)])
print("==" * 30)
print(str1[16])
print(str1[-1])
print(str1[len(str1) -1 ])
print("==" *30)
print(str1[15]); print(str1[-2])
print("==" *30)
print(str1[0]+str1[1]+str1[2]+str1[3])

L
L
L
============================================================
t
t
t
============================================================
r
r
============================================================
Life

In [43]:
# slicing : 문자열 자르기
print(str1[0:4])
print(str1[0:0+4])
# too
print(str1[8 : 8 + 3])
print(str1[-9: -6])
print(str1[-9: -9 +3])
print(str1[8 : -6])

Life
Life
too
too
too
too

In [51]:
str1 = "Life is too short"
#       01234567890123456
#                 1
#       76543210987654321 -
#              1
# Life
print(str1[0:4])
print(str1[ :4])
print(str1[:-13])
# short
print(str1[12:17])
print(str1[12:en(str1)])
print(str1[12:])

Life
Life
Life
short

NameError: name 'en' is not defined

In [49]:
# 날짜와 이름을 분리하여 출력
a = "20010331Rainy"
print(a[:8])
print(a[8:])
a = "pithon"
print(a[1])
#a[1] = "y" : 문자열은 index를 이용해서 값을 변경할 수 없다.

20010331
Rainy
i

In [63]:
# "",'',"""""",''''''
# +, *
# indexing, slicing
# 문자열 포매팅
print("현재 온도는 30도 입니다.")
print("현재 온도는 40도 입니다.")

현재 온도는 30도 입니다.
현재 온도는 40도 입니다.

In [79]:
account = '1111'
name = '유현수'
money = 100
### 유현수의 계좌번호는 1111번이고 잔액은 100원입니다.
print(name+"의 계좌번호는 "+ account +"번이고 잔액은 "+str(money)+"원입니다.")
print("%s의 계좌번호는 %s번이고 잔액은 %d원입니다." % (name,account,money))
# %s : 문자열, %d : 숫자, %f : 실수, %c : 문자 =>
print("%s의 계좌번호는 %s번이고 잔액은 %d원입니다."% (name,account,1000))
print("==" *30)
"유현수의 나이는 29살이고 키는 177입니다"
age = 29
height = 177
a = "%s의 나이는 %d살이고 키는 %f입니다." % (name, age, height)
print(a)
a = "%s의 나이는 %d살이고 키는 %5.1f입니다." % (name, age, height)
print(a)
a = "%s의 나이는 %d살이고 키는 %3.1f입니다." % (name, age, height)
print(a)
a = "%s의 나이는 %d살이고 키는 %.1f입니다." % (name, age, height)
print(a)
a = "%s의 나이는 %d살이고 키는 %.2f입니다." % (name, age, height)
print(a)
a = "%s의 나이는 %d살이고 키는 %s입니다." % (name, age, height)
print(a)

유현수의 계좌번호는 1111번이고 잔액은 100원입니다.
유현수의 계좌번호는 1111번이고 잔액은 100원입니다.
유현수의 계좌번호는 1111번이고 잔액은 1000원입니다.
============================================================
유현수의 나이는 29살이고 키는 177.000000입니다.
유현수의 나이는 29살이고 키는 177.0입니다.
유현수의 나이는 29살이고 키는 177.0입니다.
유현수의 나이는 29살이고 키는 177.0입니다.
유현수의 나이는 29살이고 키는 177.00입니다.
유현수의 나이는 29살이고 키는 177입니다.

In [80]:
#-는 왼쪽정렬, +는 오른쪽 정렬
a = "%s의 나이는 %d살이고 키는 %.2f입니다." % (name, age, height)
print(a)
a = "%s의 나이는 %10d살이고 키는 %10.2f입니다." % (name, age, height)
print(a)
a = "%s의 나이는 %-10d살이고 키는 %-10.2f입니다." % (name, age, height)
print(a)

유현수의 나이는 29살이고 키는 177.00입니다.
유현수의 나이는         29살이고 키는     177.00입니다.
유현수의 나이는 29        살이고 키는 177.00    입니다.

In [83]:
# format 함수를 사용한 포매팅
# 문자열 : "",''
# 변수 : abc
# 함수 : abc(), ### print() , str(), int(), format()
a = "{0}의 나이는 {1}살이고 키는 {2}입니다.".format(name, age, height)
#                                                    0     1     2
print(a)
a = "{1}의 나이는 {0}살이고 키는 {2}입니다.".format(age, name, height)
print(a)
# 유현수님의 나이는 29살이고요 유현수의 키는 177입니다.
a = "{0}님의 나이는 {1}살이고요 {0}의 키는 {2}입니다."\
                  .format(name, age, height)
print(a)

유현수의 나이는 29살이고 키는 177입니다.
유현수의 나이는 29살이고 키는 177입니다.
유현수님의 나이는 29살이고요 유현수의 키는 177입니다.

In [87]:
a = "{0}님의 나이는 {1}살이고요 {0}의 키는 {bbb}입니다."\
                  .format(name, age, bbb=height)
print(a)
a = "{0}님의 나이는 {1}살이고요 {0}의 키는 {bbb}입니다."\
                  .format(name, age, bbb=130)
print(a)
'''
a = "{0}님의 나이는 {1}살이고요 {0}의 키는 {2}입니다."\
                  .format(name, age, bbb=130)
print(a)

a = "{0}님의 나이는 {1}살이고요 {0}의 키는 {bbb}입니다."\
                  .format(name, bbb=130, age)
print(a)
'''
# 이름을 사용하는 경우에는 이름을 맨뒤 부터 붙여주면 된다.
a = "{0}님의 나이는 {age}살이고요 {0}의 키는 {bbb}입니다."\
                  .format(name, bbb=130,age=29)
print(a)

유현수님의 나이는 29살이고요 유현수의 키는 177입니다.
유현수님의 나이는 29살이고요 유현수의 키는 130입니다.
유현수님의 나이는 29살이고요 유현수의 키는 130입니다.

In [88]:
### f 문자열 포메팅
name = '유현수'
age = 29
height = 177
"유현수님의 나이는 29살이고요 유현수의 키는 177입니다."
print(f"{name}님의 나이는 {age}살이고요 {name}의 키는 {height}입니다.")

유현수님의 나이는 29살이고요 유현수의 키는 177입니다.

In [ ]:
# 포매팅
# 1. 포맷문자를 이용한 포맷팅
# 2. format함수를 이용한 포맷팅
# 3. f문자를 이용한 포맷팅

# indexing, slicing (자바:substring)
# 문자열 연산자 : +, *

In [93]:
### 문자열 가공하기 : 문자열 함수
a = "hobby"
#    01234
# 문자열의 크기
print(len(a))
print(len("hobby"))
# 문자의 갯수
print(a.count('b'))
print("hobby".count('b'))
print(a[1:1+3])

5
5
2
2
obb

In [102]:
a = "Life is too short"
#    012345678
print(a.index("too"))
print(a[a.index("too"):a.index("too") + 3])
print(a.index('i'))
print(a[a.index('i') : a.index('i')] + 2)
print(a.rindex('i'))
print(a[a.rindex('i') : a.rindex('i') + 2])
print(a.index('i',2))
print(a.index('i', a.index('i') + 1))
i = a.index('i', a.index('i') + 1)
print(a[i : i + 2])

8
too
1

TypeError: can only concatenate str (not "int") to str

In [99]:
a = "Life is too short"
#    012345678
print(a.index("too"))
print(a.find("too"))
print(a[a.find("too"):a.find("too") + 3])
print(a[a.find("t"):a.find("t") + 3])
print(a.find('is'))
print(a.find('i'))
print(a[a.find('i') : a.find('i') + 2])
print(a.find('i',2))
print(a.find('i',a.find('i') + 1))
print(a.rfind('i'))

8
8
too
too
5
1
if
5
5
5

In [101]:
# print(a.index('k')) # 없는 문자를 찾을 때 오류
print(a.find('k'))

-1

In [105]:
a = "Life is too short"
# 모두 소문자로 가져오기
print(a.lower())
print(a)
result = a.lower()
print(result)
# 모두 대문자로 가져오기
result = a.upper()
print(result)

life is too short
Life is too short
life is too short
LIFE IS TOO SHORT

In [111]:
c = ' abcd '
print(c)
print(c.strip())
d = " 유 현수 "
print(d)
print(d.strip())
print(d.rstrip())
print(d.lstrip())
e = "abzsgeabsdg"
print(e.strip('ab'))

 abcd
abcd
 유 현수
유 현수
 유 현수
유 현수
zsgeabsdg

In [113]:
# 문자열 대체
b = "Life is too short"
# "Life"를 "Your leg"로 변경
print(b.replace('Life','Your leg'))
print(b)
result = b.replace('Life','Your leg')
print(result)

Your leg is too short
Life is too short
Your leg is too short

In [115]:
# 쪼개기
b = "Life is too short"
result = b.split() # 리스트
print(result)
b = "Life:is:too:short"
result = b.split(':') # 리스트
print(result)

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']